html {
  height: 100%;
}

body {
  background: linear-gradient(orange, pink);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  margin: 0;
}

h1 {
  margin-top: 13px;
  text-align: center;
  font-family: "scriptorama-tradeshow-jf",sans-serif;
  color: navy;
  font-size: 75px;
}

h2 {
  margin-top: -50px;
  margin-bottom: 60px;
  text-align: center;
  font-family: "parisine-plus-std-gris",sans-serif;
  font-weight: lighter;
  font-size: 30px;
  color: navy;
}

h3 {
  font-family: "parisine-plus-std-gris",sans-serif;
  color: #4700b3;
  text-align: center;
  font-size: 20px;
  margin-bottom: -10px;
}

p {
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  color: #ff3399;
}

ul {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  display:inline;
  text-align: center;
  font-family: fantasy;
  line-height: 30px;
  color: #ff3399;
  font-size: 20px;
}

img {
  display: block;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
}

a:hover {
  font-size: 30px;
  font-weight: bolder;
  color: #ff3399;
}
